@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: var(--font-manrope);
  --font-lobster: var(--font-lobster);
  --container-custom: 1224px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  h1 {
    @apply font-medium text-[60px];
  }
  h2 {
    @apply font-medium text-[46px];
  }
  h3 {
    @apply font-medium text-[38px];
  }
  h4 {
    @apply font-medium text-[20px];
  }
  h5 {
    @apply font-medium text-[18px];
  }
  h6 {
    @apply font-normal text-[16px];
  }
  p {
    @apply font-normal text-[14px];
  }
}
